/* CSS BY Abby Napier*/

/* Global styles*/

body {
     font-family: Arial, sans-serif; margin: 0; padding: 0; 
}

header, nav, main, footer { 
    padding: 1rem; 
}
main, header{
    display: flex;
    justify-content: center;  
    text-align: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
}
nav li:after{
    content: "|";
    padding: 25px;
}
nav li:last-child:after{
     content: '';
}
nav li{
    gap: 25px;
}
h1{
    font-weight: bold;
}
footer{
    text-align: center;
}
/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    nav ul { display: flex; gap: 1rem; }
    main {background: yellow;}
}

/* MEDIA QUERIES (LARGE) */
@media screen and (min-width: 900px){
    body { max-width: 900px; margin: auto; }
    h1 { font-size: 3rem; }
    main {background: blue;}
}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px) {
    main {background: red;}
}